In [1]:
print("Welcome to Data Sciencec")

Welcome to Data Sciencec

In [2]:
31-896/124

23.774193548387096

In [3]:
'1(5-2)*4'

'1(5-2)*4'

In [4]:
(5-2)*4

12

In [5]:
 marks=73
 marks

73

In [6]:
5**3

125

In [7]:
#range(start,stop,stop)

for number in range(5 ,40, 3):
  print(number,end=' ')

5 8 11 14 17 20 23 26 29 32 35 38

In [8]:
city="Pune"

for ch in city:
    print(ch)

P
u
n
e

In [9]:
food="Pizza"

for val in range(3,6):
  print(food*val)

PizzaPizzaPizza
PizzaPizzaPizzaPizza
PizzaPizzaPizzaPizzaPizza

In [10]:
movie="Brammastra"

for letter in movie:
    print(letter.swapcase(),end = '~')

b~R~A~M~M~A~S~T~R~A~

In [11]:
for letter in "Maggi ":
    print(letter.swapcase(), end =' ')

m A G G I

In [12]:
for ch in "Data Science":
  print(ch *4,end= " ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [13]:
len("My pune")

7

In [14]:
marks= [23,43,56,78,90,87]
marks

[23, 43, 56, 78, 90, 87]

In [15]:
dir(marks)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
newmarks = sorted(marks)

In [17]:
newmarks

[23, 43, 56, 78, 87, 90]

In [18]:
marks

[23, 43, 56, 78, 90, 87]

In [19]:
marks.sort()

In [20]:
marks.append(92)
marks

[23, 43, 56, 78, 87, 90, 92]

In [21]:
marks.count(92)

1

In [22]:
marks.reverse()
marks

[92, 90, 87, 78, 56, 43, 23]

In [23]:
marks.sort(reverse=True)
marks

[92, 90, 87, 78, 56, 43, 23]

In [24]:
marks

[92, 90, 87, 78, 56, 43, 23]

In [25]:
78 in marks

True

In [26]:
91 in marks

False

In [27]:
list1=[1,2,3]
list2=[4,5,6]

list1+list2

[1, 2, 3, 4, 5, 6]

In [28]:
(list1+list2)*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [29]:
len((list1+list2)*3)

18

In [30]:
xyz=[1,3,5,7]
rev = list(reversed(xyz))
rev

[7, 5, 3, 1]

In [31]:
mylist=["Apple","Mango","Orange","Strawberry","Watermelon","Blueberry","Banana","Blackberry"]
mylist

['Apple',
 'Mango',
 'Orange',
 'Strawberry',
 'Watermelon',
 'Blueberry',
 'Banana',
 'Blackberry']

In [32]:
for fruit in mylist:
    print(fruit.upper(),end=" ")

APPLE MANGO ORANGE STRAWBERRY WATERMELON BLUEBERRY BANANA BLACKBERRY

In [33]:
for fruit in mylist:
    print(fruit.lower(),end=" ")

apple mango orange strawberry watermelon blueberry banana blackberry

In [34]:
for fruit in mylist:
    print(fruit.replace('a','u'),end=" ")

Apple Mungo Orunge Struwberry Wutermelon Blueberry Bununu Bluckberry

In [35]:
mylist

['Apple',
 'Mango',
 'Orange',
 'Strawberry',
 'Watermelon',
 'Blueberry',
 'Banana',
 'Blackberry']

In [36]:
#Indexing start with 0
mylist[0],mylist[1],mylist[4]

('Apple', 'Mango', 'Watermelon')

In [37]:
#Slicing
mylist[2:6]#2,3,4,5

['Orange', 'Strawberry', 'Watermelon', 'Blueberry']

In [38]:
mylist[3:]

['Strawberry', 'Watermelon', 'Blueberry', 'Banana', 'Blackberry']

In [39]:
mylist[:4]

['Apple', 'Mango', 'Orange', 'Strawberry']

In [40]:
mylist[-1]

'Blackberry'

In [41]:
mylist[-5]

'Strawberry'

In [42]:
mylist[ : :2]

['Apple', 'Orange', 'Watermelon', 'Banana']

In [43]:
number=[42,15,62,34,66,87,98,245,63,12,9,12,72,16,83]
number

[42, 15, 62, 34, 66, 87, 98, 245, 63, 12, 9, 12, 72, 16, 83]

In [44]:
range(1,51)

range(1, 51)

In [45]:
number=list(range(1,51))
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [46]:
number[::4]

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49]

In [47]:
number[6:25:3]

[7, 10, 13, 16, 19, 22, 25]

In [48]:
mylist[::-1]

['Blackberry',
 'Banana',
 'Blueberry',
 'Watermelon',
 'Strawberry',
 'Orange',
 'Mango',
 'Apple']

In [49]:
mylist[::-2]

['Blackberry', 'Blueberry', 'Strawberry', 'Mango']

In [50]:
for fruit in mylist:
    if 'berry' in fruit:
        print(fruit)

Strawberry
Blueberry
Blackberry

In [51]:
newfruits=[]
for fruit in mylist:
    if'berry' in fruit:
        newfruits.append(fruit)
newfruits

['Strawberry', 'Blueberry', 'Blackberry']

In [52]:
withberryfruit=[]
withouthberryfruit=[]
for fruit in mylist:
    if'berry' in fruit:
        withberryfruit.append(fruit)
    else:
        withouthberryfruit.append(fruit)

In [53]:
number=[4,7,3,5,9]
newlist=[]

for num in number:
    newlist.append(num**2)
newlist

[16, 49, 9, 25, 81]

In [54]:
#list Comprehentiion
number =[4,7,3,5,9]

newlist=[num**2 for num in number]
newlist

[16, 49, 9, 25, 81]

In [55]:
[fruit for fruit in mylist if 'berry'in fruit]

['Strawberry', 'Blueberry', 'Blackberry']

In [56]:
[fruit for fruit in mylist if not 'berry'in fruit]

['Apple', 'Mango', 'Orange', 'Watermelon', 'Banana']

In [57]:
mylist

['Apple',
 'Mango',
 'Orange',
 'Strawberry',
 'Watermelon',
 'Blueberry',
 'Banana',
 'Blackberry']

In [58]:
mylist.index('Watermelon')

4

In [59]:
mylist.index("Gava")

ValueError: 'Gava' is not in list

In [ ]:
mylist[2]='Guava'   #  mutability property of list 
mylist

In [ ]:
#tuples


mytuple=(42,75,98,27,11)
mytuple

In [ ]:
mytuple[2]=86

In [ ]:
dir(mytuple)

In [ ]:
mytuple

In [ ]:
mytuple.count(27)

In [ ]:
mytuple.index(98)

In [ ]:
mytuple[3]

In [ ]:
mytuple[1:3]

In [60]:
#


mydict={42:'mouse',
       21:'Keybord',
       77:"Monitor",
       71:'Earphone'}
mydict

{42: 'mouse', 21: 'Keybord', 77: 'Monitor', 71: 'Earphone'}

In [61]:
dir(mydict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [62]:
mydict.keys()

dict_keys([42, 21, 77, 71])

In [63]:
mydict.values()

dict_values(['mouse', 'Keybord', 'Monitor', 'Earphone'])

In [64]:
mydict.items()

dict_items([(42, 'mouse'), (21, 'Keybord'), (77, 'Monitor'), (71, 'Earphone')])

In [65]:
newdict ={'A': mylist,
         'B': mytuple,
         'C': number}
newdict

NameError: name 'mytuple' is not defined

In [ ]:
newdict['A'][3]

In [66]:
from math import log
log(3.28)

1.1878434223960523

In [67]:
from math import sin,exp,cos
sin(3.72), exp(7.32),cos(1.21)

(-0.5466910470692872, 1510.203969763263, 0.3530194012193304)

In [68]:
from math import *

In [69]:
tan(0.28)

0.28755432574197687

In [70]:
import math
math.log(2.62),math.sin(3.1)

(0.9631743177730056, 0.04158066243329049)

In [71]:
import math as mt
mt.sqrt(67)

8.18535277187245

In [75]:
import pandas as pd

In [80]:
import pandas as pd
df = pd.read_csv('Salaries.csv')
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]